In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('/Users/nulgrace/workspace/python/res/olympics.csv')

In [5]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12

In [66]:
df = pd.read_csv('/Users/nulgrace/workspace/python/res/olympics.csv', index_col = 0, skiprows = 1)

In [67]:
df.head()

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [68]:
df.columns

Index(['№ Summer', '01 !', '02 !', '03 !', 'Total', '№ Winter', '01 !.1',
       '02 !.1', '03 !.1', 'Total.1', '№ Games', '01 !.2', '02 !.2', '03 !.2',
       'Combined total'],
      dtype='object')

In [69]:
for col in df.columns:
    if col[:2] == '01':
        df.rename(columns={col: 'Gold' + col[4:]}, inplace=True)
    if col[:2] == '02':
        df.rename(columns={col: 'Sivler' + col[4:]}, inplace=True)
    if col[:2] == '03':
        df.rename(columns={col: 'Bronze' + col[4:]}, inplace=True)
    if col[:1] == '№':
        df.rename(columns={col: '#' + col[2:]}, inplace=True)

In [70]:
df.count()

#Summer           147
Gold              147
Sivler            147
Bronze            147
Total             147
#Winter           147
Gold.1            147
Sivler.1          147
Bronze.1          147
Total.1           147
#Games            147
Gold.2            147
Sivler.2          147
Bronze.2          147
Combined total    147
dtype: int64

In [71]:
df.head()

,#Summer,Gold,Sivler,Bronze,Total,#Winter,Gold.1,Sivler.1,Bronze.1,Total.1,#Games,Gold.2,Sivler.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [72]:
df = df.drop('Total', axis=1)

In [73]:
df.head()

,#Summer,Gold,Sivler,Bronze,#Winter,Gold.1,Sivler.1,Bronze.1,Total.1,#Games,Gold.2,Sivler.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,0,0,0,0,0,2,3,4,5,12

In [74]:
df.iloc[0]

#Summer           13
Gold               0
Sivler             0
Bronze             2
#Winter            0
Gold.1             0
Sivler.1           0
Bronze.1           0
Total.1            0
#Games            13
Gold.2             0
Sivler.2           0
Bronze.2           2
Combined total     2
Name: Afghanistan (AFG), dtype: int64

In [75]:
df['Gold']

Afghanistan (AFG)                                  0
Algeria (ALG)                                      5
Argentina (ARG)                                   18
Armenia (ARM)                                      1
Australasia (ANZ) [ANZ]                            3
Australia (AUS) [AUS] [Z]                        139
Austria (AUT)                                     18
Azerbaijan (AZE)                                   6
Bahamas (BAH)                                      5
Bahrain (BRN)                                      0
Barbados (BAR) [BAR]                               0
Belarus (BLR)                                     12
Belgium (BEL)                                     37
Bermuda (BER)                                      0
Bohemia (BOH) [BOH] [Z]                            0
Botswana (BOT)                                     0
Brazil (BRA)                                      23
British West Indies (BWI) [BWI]                    0
Bulgaria (BUL) [H]                                51
Burundi (BDI)                                      1
Cameroon (CMR)                                     3
Canada (CAN)                                      59
Chile (CHI) [I]                                    2
China (CHN) [CHN]                                201
Colombia (COL)                                     2
Costa Rica (CRC)                                   1
Ivory Coast (CIV) [CIV]                            0
Croatia (CRO)                                      6
Cuba (CUB) [Z]                                    72
Cyprus (CYP)                                       0
                                                ...
Sri Lanka (SRI) [SRI]                              0
Sudan (SUD)                                        0
Suriname (SUR) [E]                                 1
Sweden (SWE) [Z]                                 143
Switzerland (SUI)                                 47
Syria (SYR)                                        1
Chinese Taipei (TPE) [TPE] [TPE2]                  2
Tajikistan (TJK)                                   0
Tanzania (TAN) [TAN]                               0
Thailand (THA)                                     7
Togo (TOG)                                         0
Tonga (TGA)                                        0
Trinidad and Tobago (TRI) [TRI]                    2
Tunisia (TUN)                                      3
Turkey (TUR)                                      39
Uganda (UGA)                                       2
Ukraine (UKR)                                     33
United Arab Emirates (UAE)                         1
United States (USA) [P] [Q] [R] [Z]              976
Uruguay (URU)                                      2
Uzbekistan (UZB)                                   5
Venezuela (VEN)                                    2
Vietnam (VIE)                                      0
Virgin Islands (ISV)                               0
Yugoslavia (YUG) [YUG]                            26
Independent Olympic Participants (IOP) [IOP]       0
Zambia (ZAM) [ZAM]                                 0
Zimbabwe (ZIM) [ZIM]                               3
Mixed team (ZZX) [ZZX]                             8
Totals                                          4809
Name: Gold, Length: 147, dtype: int64

In [76]:
df['Gold']>0

Afghanistan (AFG)                               False
Algeria (ALG)                                    True
Argentina (ARG)                                  True
Armenia (ARM)                                    True
Australasia (ANZ) [ANZ]                          True
Australia (AUS) [AUS] [Z]                        True
Austria (AUT)                                    True
Azerbaijan (AZE)                                 True
Bahamas (BAH)                                    True
Bahrain (BRN)                                   False
Barbados (BAR) [BAR]                            False
Belarus (BLR)                                    True
Belgium (BEL)                                    True
Bermuda (BER)                                   False
Bohemia (BOH) [BOH] [Z]                         False
Botswana (BOT)                                  False
Brazil (BRA)                                     True
British West Indies (BWI) [BWI]                 False
Bulgaria (BUL) [H]                               True
Burundi (BDI)                                    True
Cameroon (CMR)                                   True
Canada (CAN)                                     True
Chile (CHI) [I]                                  True
China (CHN) [CHN]                                True
Colombia (COL)                                   True
Costa Rica (CRC)                                 True
Ivory Coast (CIV) [CIV]                         False
Croatia (CRO)                                    True
Cuba (CUB) [Z]                                   True
Cyprus (CYP)                                    False
                                                ...
Sri Lanka (SRI) [SRI]                           False
Sudan (SUD)                                     False
Suriname (SUR) [E]                               True
Sweden (SWE) [Z]                                 True
Switzerland (SUI)                                True
Syria (SYR)                                      True
Chinese Taipei (TPE) [TPE] [TPE2]                True
Tajikistan (TJK)                                False
Tanzania (TAN) [TAN]                            False
Thailand (THA)                                   True
Togo (TOG)                                      False
Tonga (TGA)                                     False
Trinidad and Tobago (TRI) [TRI]                  True
Tunisia (TUN)                                    True
Turkey (TUR)                                     True
Uganda (UGA)                                     True
Ukraine (UKR)                                    True
United Arab Emirates (UAE)                       True
United States (USA) [P] [Q] [R] [Z]              True
Uruguay (URU)                                    True
Uzbekistan (UZB)                                 True
Venezuela (VEN)                                  True
Vietnam (VIE)                                   False
Virgin Islands (ISV)                            False
Yugoslavia (YUG) [YUG]                           True
Independent Olympic Participants (IOP) [IOP]    False
Zambia (ZAM) [ZAM]                              False
Zimbabwe (ZIM) [ZIM]                             True
Mixed team (ZZX) [ZZX]                           True
Totals                                           True
Name: Gold, Length: 147, dtype: bool

In [77]:
df['Gold']+df['Sivler']+df['Bronze']

Afghanistan (AFG)                                   2
Algeria (ALG)                                      15
Argentina (ARG)                                    70
Armenia (ARM)                                      12
Australasia (ANZ) [ANZ]                            12
Australia (AUS) [AUS] [Z]                         468
Austria (AUT)                                      86
Azerbaijan (AZE)                                   26
Bahamas (BAH)                                      12
Bahrain (BRN)                                       1
Barbados (BAR) [BAR]                                1
Belarus (BLR)                                      75
Belgium (BEL)                                     142
Bermuda (BER)                                       1
Bohemia (BOH) [BOH] [Z]                             4
Botswana (BOT)                                      1
Brazil (BRA)                                      108
British West Indies (BWI) [BWI]                     2
Bulgaria (BUL) [H]                                214
Burundi (BDI)                                       1
Cameroon (CMR)                                      5
Canada (CAN)                                      279
Chile (CHI) [I]                                    13
China (CHN) [CHN]                                 473
Colombia (COL)                                     19
Costa Rica (CRC)                                    4
Ivory Coast (CIV) [CIV]                             1
Croatia (CRO)                                      23
Cuba (CUB) [Z]                                    209
Cyprus (CYP)                                        1
                                                ...
Sri Lanka (SRI) [SRI]                               2
Sudan (SUD)                                         1
Suriname (SUR) [E]                                  2
Sweden (SWE) [Z]                                  483
Switzerland (SUI)                                 185
Syria (SYR)                                         3
Chinese Taipei (TPE) [TPE] [TPE2]                  21
Tajikistan (TJK)                                    3
Tanzania (TAN) [TAN]                                2
Thailand (THA)                                     24
Togo (TOG)                                          1
Tonga (TGA)                                         1
Trinidad and Tobago (TRI) [TRI]                    18
Tunisia (TUN)                                      10
Turkey (TUR)                                       88
Uganda (UGA)                                        7
Ukraine (UKR)                                     115
United Arab Emirates (UAE)                          1
United States (USA) [P] [Q] [R] [Z]              2399
Uruguay (URU)                                      10
Uzbekistan (UZB)                                   20
Venezuela (VEN)                                    12
Vietnam (VIE)                                       2
Virgin Islands (ISV)                                1
Yugoslavia (YUG) [YUG]                             83
Independent Olympic Participants (IOP) [IOP]        3
Zambia (ZAM) [ZAM]                                  2
Zimbabwe (ZIM) [ZIM]                                8
Mixed team (ZZX) [ZZX]                             17
Totals                                          14714
Length: 147, dtype: int64

In [81]:
df = df.drop('Totals')

In [82]:
df['Gold'].max()

976

In [83]:
df['Gold'].argmax()

'United States\xa0(USA) [P] [Q] [R] [Z]'

In [84]:
only_gold = df.where(df['Gold']>0)

In [85]:
only_gold.head()

,#Summer,Gold,Sivler,Bronze,#Winter,Gold.1,Sivler.1,Bronze.1,Total.1,#Games,Gold.2,Sivler.2,Bronze.2,Combined total
Afghanistan (AFG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria (ALG),12.0,5.0,2.0,8.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0

In [86]:
only_gold = only_gold.dropna()

In [87]:
only_gold.head()

,#Summer,Gold,Sivler,Bronze,#Winter,Gold.1,Sivler.1,Bronze.1,Total.1,#Games,Gold.2,Sivler.2,Bronze.2,Combined total
Algeria (ALG),12.0,5.0,2.0,8.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0
Australia (AUS) [AUS] [Z],25.0,139.0,152.0,177.0,18.0,5.0,3.0,4.0,12.0,43.0,144.0,155.0,181.0,480.0

In [88]:
only_gold = df[df['Gold']>0]

In [89]:
only_gold.head()

,#Summer,Gold,Sivler,Bronze,#Winter,Gold.1,Sivler.1,Bronze.1,Total.1,#Games,Gold.2,Sivler.2,Bronze.2,Combined total
Algeria (ALG),12,5,2,8,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,0,0,0,0,0,2,3,4,5,12
Australia (AUS) [AUS] [Z],25,139,152,177,18,5,3,4,12,43,144,155,181,480

In [93]:
df[(df['Gold'] > 0) | (df['Gold'] > 0)]

,#Summer,Gold,Sivler,Bronze,#Winter,Gold.1,Sivler.1,Bronze.1,Total.1,#Games,Gold.2,Sivler.2,Bronze.2,Combined total
Algeria (ALG),12,5,2,8,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,0,0,0,0,0,2,3,4,5,12
Australia (AUS) [AUS] [Z],25,139,152,177,18,5,3,4,12,43,144,155,181,480
Austria (AUT),26,18,33,35,22,59,78,81,218,48,77,111,116,304
Azerbaijan (AZE),5,6,5,15,5,0,0,0,0,10,6,5,15,26
Bahamas (BAH),15,5,2,5,0,0,0,0,0,15,5,2,5,12
Belarus (BLR),5,12,24,39,6,6,4,5,15,11,18,28,44,90
Belgium (BEL),25,37,52,53,20,1,1,3,5,45,38,53,56,147
Brazil (BRA),21,23,30,55,7,0,0,0,0,28,23,30,55,108
Bulgaria (BUL) [H],19,51,85,78,19,1,2,3,6,38,52,87,81,220
Burundi (BDI),5,1,0,0,0,0,0,0,0,5,1,0,0,1
Cameroon (CMR),13,3,1,1,1,0,0,0,0,14,3,1,1,5
Canada (CAN),25,59,99,121,22,62,56,52,170,47,121,155,173,449
Chile (CHI) [I],22,2,7,4,16,0,0,0,0,38,2,7,4,13
China (CHN) [CHN],9,201,146,126,10,12,22,19,53,19,213,168,145,526
Colombia (COL),18,2,6,11,1,0,0,0,0,19,2,6,11,19
Costa Rica (CRC),14,1,1,2,6,0,0,0,0,20,1,1,2,4
Croatia (CRO),6,6,7,10,7,4,6,1,11,13,10,13,11,34
Cuba (CUB) [Z],19,72,67,70,0,0,0,0,0,19,72,67,70,209
Czech Republic (CZE) [CZE],5,14,15,15,6,7,9,8,24,11,21,24,23,68
Czechoslovakia (TCH) [TCH],16,49,49,45,16,2,8,15,25,32,51,57,60,168
Denmark (DEN) [Z],26,43,68,68,13,0,1,0,1,39,43,69,68,180
Dominican Republic (DOM),13,3,2,1,0,0,0,0,0,13,3,2,1,6
Ecuador (ECU),13,1,1,0,0,0,0,0,0,13,1,1,0,2
Egypt (EGY) [EGY] [Z],21,7,9,10,1,0,0,0,0,22,7,9,10,26
Estonia (EST),11,9,9,15,9,4,2,1,7,20,13,11,16,40
Ethiopia (ETH),12,21,7,17,2,0,0,0,0,14,21,7,17,45
Finland (FIN),24,101,84,117,22,42,62,57,161,46,143,146,174,463
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Romania (ROU),20,88,94,119,20,0,0,1,1,40,88,94,120,302
Russia (RUS) [RUS],5,132,121,142,6,49,40,35,124,11,181,161,177,519
Russian Empire (RU1) [RU1],3,1,4,3,0,0,0,0,0,3,1,4,3,8
Soviet Union (URS) [URS],9,395,319,296,9,78,57,59,194,18,473,376,355,1204
Unified Team (EUN) [EUN],1,45,38,29,1,9,6,8,23,2,54,44,37,135
Serbia (SRB) [SRB],3,1,2,4,2,0,0,0,0,5,1,2,4,7
Serbia and Montenegro (SCG) [SCG],3,2,4,3,3,0,0,0,0,6,2,4,3,9
Slovakia (SVK) [SVK],5,7,9,8,6,2,2,1,5,11,9,11,9,29
Slovenia (SLO),6,4,6,9,7,2,4,9,15,13,6,10,18,34
South Africa (RSA),18,23,26,27,6,0,0,0,0,24,23,26,27,76
Spain (ESP) [Z],22,37,59,35,19,1,0,1,2,41,38,59,36,133
Suriname (SUR) [E],11,1,0,1,0,0,0,0,0,11,1,0,1,2
Sweden (SWE) [Z],26,143,164,176,22,50,40,54,144,48,193,204,230,627
Switzerland (SUI),27,47,73,65,22,50,40,48,138,49,97,113,113,323
Syria (SYR),12,1,1,1,0,0,0,0,0,12,1,1,1,3
Chinese Taipei (TPE) [TPE] [TPE2],13,2,7,12,11,0,0,0,0,24,2,7,12,21
Thailand (THA),15,7,6,11,3,0,0,0,0,18,7,6,11,24
Trinidad and Tobago (TRI) [TRI],16,2,5,11,3,0,0,0,0,19,2,5,11,18
Tunisia (TUN),13,3,3,4,0,0,0,0,0,13,3,3,4,10
Turkey (TUR),21,39,25,24,16,0,0,0,0,37,39,25,24,88
Uganda (UGA),14,2,3,2,0,0,0,0,0,14,2,3,2,7
Ukraine (UKR),5,33,27,55,6,2,1,4,7,11,35,28,59,122
United Arab Emirates (UAE),8,1,0,0,0,0,0,0,0,8,1,0,0,1
United States (USA) [P] [Q] [R] [Z],26,976,757,666,22,96,102,84,282,48,1072,859,750,2681
Uruguay (URU),20,2,2,6,1,0,0,0,0,21,2,2,6,10
Uzbekistan (UZB),5,5,5,10,6,1,0,0,1,11,6,5,10,21
Venezuela (VEN),17,2,2,8,4,0,0,0,0,21,2,2,8,12
Yugoslavia (YUG) [YUG],16,26,29,28,14,0,3,1,4,30,26,32,29,87
Zimbabwe (ZIM) [ZIM],12,3,4,1,1,0,0,0,0,13,3,4,1,8
Mixed team (ZZX) [ZZX],3,8,5,4,0,0,0,0,0,3,8,5,4,17

In [94]:
df[(df['Gold'] > 0) & (df['Gold'] > 0)]

,#Summer,Gold,Sivler,Bronze,#Winter,Gold.1,Sivler.1,Bronze.1,Total.1,#Games,Gold.2,Sivler.2,Bronze.2,Combined total
Algeria (ALG),12,5,2,8,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,0,0,0,0,0,2,3,4,5,12
Australia (AUS) [AUS] [Z],25,139,152,177,18,5,3,4,12,43,144,155,181,480
Austria (AUT),26,18,33,35,22,59,78,81,218,48,77,111,116,304
Azerbaijan (AZE),5,6,5,15,5,0,0,0,0,10,6,5,15,26
Bahamas (BAH),15,5,2,5,0,0,0,0,0,15,5,2,5,12
Belarus (BLR),5,12,24,39,6,6,4,5,15,11,18,28,44,90
Belgium (BEL),25,37,52,53,20,1,1,3,5,45,38,53,56,147
Brazil (BRA),21,23,30,55,7,0,0,0,0,28,23,30,55,108
Bulgaria (BUL) [H],19,51,85,78,19,1,2,3,6,38,52,87,81,220
Burundi (BDI),5,1,0,0,0,0,0,0,0,5,1,0,0,1
Cameroon (CMR),13,3,1,1,1,0,0,0,0,14,3,1,1,5
Canada (CAN),25,59,99,121,22,62,56,52,170,47,121,155,173,449
Chile (CHI) [I],22,2,7,4,16,0,0,0,0,38,2,7,4,13
China (CHN) [CHN],9,201,146,126,10,12,22,19,53,19,213,168,145,526
Colombia (COL),18,2,6,11,1,0,0,0,0,19,2,6,11,19
Costa Rica (CRC),14,1,1,2,6,0,0,0,0,20,1,1,2,4
Croatia (CRO),6,6,7,10,7,4,6,1,11,13,10,13,11,34
Cuba (CUB) [Z],19,72,67,70,0,0,0,0,0,19,72,67,70,209
Czech Republic (CZE) [CZE],5,14,15,15,6,7,9,8,24,11,21,24,23,68
Czechoslovakia (TCH) [TCH],16,49,49,45,16,2,8,15,25,32,51,57,60,168
Denmark (DEN) [Z],26,43,68,68,13,0,1,0,1,39,43,69,68,180
Dominican Republic (DOM),13,3,2,1,0,0,0,0,0,13,3,2,1,6
Ecuador (ECU),13,1,1,0,0,0,0,0,0,13,1,1,0,2
Egypt (EGY) [EGY] [Z],21,7,9,10,1,0,0,0,0,22,7,9,10,26
Estonia (EST),11,9,9,15,9,4,2,1,7,20,13,11,16,40
Ethiopia (ETH),12,21,7,17,2,0,0,0,0,14,21,7,17,45
Finland (FIN),24,101,84,117,22,42,62,57,161,46,143,146,174,463
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Romania (ROU),20,88,94,119,20,0,0,1,1,40,88,94,120,302
Russia (RUS) [RUS],5,132,121,142,6,49,40,35,124,11,181,161,177,519
Russian Empire (RU1) [RU1],3,1,4,3,0,0,0,0,0,3,1,4,3,8
Soviet Union (URS) [URS],9,395,319,296,9,78,57,59,194,18,473,376,355,1204
Unified Team (EUN) [EUN],1,45,38,29,1,9,6,8,23,2,54,44,37,135
Serbia (SRB) [SRB],3,1,2,4,2,0,0,0,0,5,1,2,4,7
Serbia and Montenegro (SCG) [SCG],3,2,4,3,3,0,0,0,0,6,2,4,3,9
Slovakia (SVK) [SVK],5,7,9,8,6,2,2,1,5,11,9,11,9,29
Slovenia (SLO),6,4,6,9,7,2,4,9,15,13,6,10,18,34
South Africa (RSA),18,23,26,27,6,0,0,0,0,24,23,26,27,76
Spain (ESP) [Z],22,37,59,35,19,1,0,1,2,41,38,59,36,133
Suriname (SUR) [E],11,1,0,1,0,0,0,0,0,11,1,0,1,2
Sweden (SWE) [Z],26,143,164,176,22,50,40,54,144,48,193,204,230,627
Switzerland (SUI),27,47,73,65,22,50,40,48,138,49,97,113,113,323
Syria (SYR),12,1,1,1,0,0,0,0,0,12,1,1,1,3
Chinese Taipei (TPE) [TPE] [TPE2],13,2,7,12,11,0,0,0,0,24,2,7,12,21
Thailand (THA),15,7,6,11,3,0,0,0,0,18,7,6,11,24
Trinidad and Tobago (TRI) [TRI],16,2,5,11,3,0,0,0,0,19,2,5,11,18
Tunisia (TUN),13,3,3,4,0,0,0,0,0,13,3,3,4,10
Turkey (TUR),21,39,25,24,16,0,0,0,0,37,39,25,24,88
Uganda (UGA),14,2,3,2,0,0,0,0,0,14,2,3,2,7
Ukraine (UKR),5,33,27,55,6,2,1,4,7,11,35,28,59,122
United Arab Emirates (UAE),8,1,0,0,0,0,0,0,0,8,1,0,0,1
United States (USA) [P] [Q] [R] [Z],26,976,757,666,22,96,102,84,282,48,1072,859,750,2681
Uruguay (URU),20,2,2,6,1,0,0,0,0,21,2,2,6,10
Uzbekistan (UZB),5,5,5,10,6,1,0,0,1,11,6,5,10,21
Venezuela (VEN),17,2,2,8,4,0,0,0,0,21,2,2,8,12
Yugoslavia (YUG) [YUG],16,26,29,28,14,0,3,1,4,30,26,32,29,87
Zimbabwe (ZIM) [ZIM],12,3,4,1,1,0,0,0,0,13,3,4,1,8
Mixed team (ZZX) [ZZX],3,8,5,4,0,0,0,0,0,3,8,5,4,17