In [1]:
print("%s apples, "%"five")

five apples,

In [2]:
print("%d apples," %5)

5 apples,

In [3]:
number =3
print("% apple, "%number)

3pple,

In [4]:
a=[]
b=[1,2,3]
c=['sunny', 'rainy']
d=[1,2,['sunny','rainy']]

In [5]:
b[-1]

3

In [6]:
d[-1]

['sunny', 'rainy']

In [7]:
d[-1][0]

'sunny'

In [8]:
d[-1][1]

'rainy'

In [9]:
pocket=['paper', 'phone', 'money']

In [10]:
if 'money' in pocket:
    print('taxi')
else:
    print('walk')

taxi

In [11]:
if 'money' in pocket:
    print('taxi')
elif 'card' in pocket:
    print('taxi')
else:
    print('walk')

taxi

In [12]:
scores=[99,25,67,75,80]

In [13]:
number=0
for score in scores:
    number=number+1
    if score >= 60 :
        print("%d 번 학생 합격" %number)
    else:
        print("%d 번 학생 불합격" %number)

1 번 학생 합격
2 번 학생 불합격
3 번 학생 합격
4 번 학생 합격
5 번 학생 합격

In [14]:
print('hello world')

hello world

In [15]:
print("hello world")

hello world

In [16]:
print("""hello world""")

hello world

In [17]:
a='20171016sunny'

In [18]:
a

'20171016sunny'

In [19]:
print(a)

20171016sunny

In [20]:
type(a)

str

In [21]:
a[:]

'20171016sunny'

In [22]:
a[0:7]

'2017101'

In [23]:
date=a[0:7]

In [24]:
date

'2017101'

In [25]:
weather=a[8:]

In [26]:
a[-1]

'y'

In [27]:
year=a[0:3]

In [28]:
year

'201'

In [30]:
year=a[0:4]

In [31]:
year

'2017'

In [32]:
month=a[4:8]

In [33]:
month

'1016'

In [34]:
def sum(a,b):
    return a+b

In [35]:
sum(1,2)

3

In [36]:
a=3
b=4
c=sum(a,b)

In [37]:
c

7

In [21]:
f=open("/Users/nulgrace/workspace/python/jeju.txt","r")
lines = f.readlines()
for line in lines:
    print(line)
f.close

제주 성산일출봉

제주 우도

제주 러브랜드

제주 잠수함

제주 용두암

제주 섭지코지

제주 산방산

제주 신비의도로

제주 외돌개

제주 에코랜드

제주 주상 절리

In [9]:
import pandas as pd

In [17]:
pd.Series?

In [18]:
animals=['Tiger','Bear','Moos']
pd.Series(animals)

0    Tiger
1     Bear
2     Moos
dtype: object

In [19]:
number=[1,2,3]
pd.Series(number)

0    1
1    2
2    3
dtype: int64

In [20]:
pd.Series?

In [10]:
Sports={'태권도':'한국',
       '골프':'스코틀랜드',
       '스모':'일본'}
pd.Series(Sports)

골프     스코틀랜드
스모        일본
태권도       한국
dtype: object

In [14]:
s=pd.Series(Sports)

In [16]:
newSports={'스키':'스위스'}
newS = pd.Series(newSports)
s.append(newS)
print(s)

골프     스코틀랜드
스모        일본
태권도       한국
dtype: object

In [24]:
s.loc['골프']

'스코틀랜드'

In [25]:
s.iloc[2]

'한국'

In [26]:
s[2]

'한국'

In [27]:
s=pd.Series([100,120,101])

In [28]:
s

0    100
1    120
2    101
dtype: int64

In [29]:
total=0
for item in s:
    total = total + item
print(total)

321

In [30]:
import numpy as np

In [31]:
total = np.sum(s)
print(total)

321

In [2]:
with open("/Users/nulgrace/workspace/python/jeju.txt","r") as f:
    lines= f.readlines()
    for line in lines:
        print(line)

제주 성산일출봉

제주 우도

제주 러브랜드

제주 잠수함

제주 용두암

제주 섭지코지

제주 산방산

제주 신비의도로

제주 외돌개

제주 에코랜드

제주 주상 절리

In [3]:
with open("/Users/nulgrace/workspace/python/jeju.txt","w") as f:
    f.write("You are happy")

In [4]:
myfunction=lambda a,b: a+b
myfunction (2,3)

5