In [11]:
import pandas as pd

In [16]:
df = pd.read_csv('subway.csv',encoding = 'euc-kr')

In [17]:
df

,역명,날짜,구분,05~06시,06~07시,07~08시,08~09시,09~10시,10~11시,11~12시,...,16~17시,17~18시,18~19시,19~20시,20~21시,21~22시,22~23시,23~24시,00~01시,01~02시
0,서울역(150),2017-04-01,승차,493,513,654,"1,517","2,104","2,522","3,440",...,"4,835","5,653","4,178","3,189","2,640","2,947","2,441",927,43,0
1,서울역(150),2017-04-01,하차,385,"2,074","1,923","2,511","3,377","3,021","3,006",...,"3,813","3,665","3,571","3,006","2,137","2,029","1,473",838,278,0
2,서울역(150),2017-04-02,승차,342,340,413,944,"1,533","1,734","2,553",...,"3,525","3,668","3,154","2,879","2,572","3,038","2,665",965,86,0
3,서울역(150),2017-04-02,하차,197,"1,229","1,119","1,369","1,958","1,996","1,926",...,"3,068","3,190","2,721","2,713","1,994","1,629","1,397",640,138,0
4,서울역(150),2017-04-03,승차,467,603,"2,137","3,296","2,121","2,094","2,626",...,"3,225","4,466","8,952","5,342","3,376","3,402","2,235","1,174",148,0
5,서울역(150),2017-04-03,하차,376,"2,566","5,344","10,582","5,197","2,622","2,374",...,"2,415","2,621","3,149","2,579","1,695","1,503","1,277",708,240,17
6,서울역(150),2017-04-04,승차,443,573,"1,611","2,916","2,048","2,100","2,516",...,"3,163","4,702","8,955","5,217","3,529","3,499","2,169","1,166",150,0
7,서울역(150),2017-04-04,하차,324,"2,015","4,937","10,254","5,196","2,710","2,404",...,"2,514","2,772","3,252","2,489","1,688","1,538","1,415",722,272,17
8,서울역(150),2017-04-05,승차,415,572,"1,685","2,953","2,072","2,090","2,394",...,"3,385","4,991","9,684","5,019","3,399","3,595","2,073","1,322",284,0
9,서울역(150),2017-04-05,하차,296,"2,015","4,450","10,375","5,615","2,491","2,284",...,"2,598","2,799","3,588","2,397","1,634","1,510","1,272",787,266,16
10,서울역(150),2017-04-06,승차,378,545,"1,595","2,965","2,034","2,088","2,538",...,"3,607","4,797","9,027","5,178","3,294","3,713","2,262","1,189",242,1
11,서울역(150),2017-04-06,하차,308,"2,021","4,572","10,241","5,602","2,809","2,301",...,"2,629","2,883","3,363","2,554","1,676","1,619","1,619",790,290,28
12,서울역(150),2017-04-07,승차,475,580,"1,633","2,772","2,422","2,030","2,852",...,"4,131","5,827","9,828","5,810","3,730","4,050","3,317","1,454",381,0
13,서울역(150),2017-04-07,하차,327,"2,003","4,444","9,959","5,496","2,847","2,463",...,"3,277","3,680","4,782","4,060","2,242","2,180","1,761",954,446,39
14,서울역(150),2017-04-08,승차,480,532,717,"1,637","2,417","2,422","3,591",...,"5,100","5,330","4,460","3,106","2,906","2,958","2,573","1,074",51,0
15,서울역(150),2017-04-08,하차,423,"2,510","2,158","2,867","3,735","3,213","3,401",...,"3,864","4,480","3,610","3,219","2,353","2,295","1,641","1,063",249,0
16,서울역(150),2017-04-09,승차,335,352,449,997,"1,573","1,939","2,508",...,"3,363","3,673","3,030","2,703","2,554","2,612","2,143",516,72,0
17,서울역(150),2017-04-09,하차,170,"1,303","1,226","1,433","1,914","2,011","1,966",...,"2,913","3,226","2,831","2,684","1,907","1,755","1,162",586,116,0
18,서울역(150),2017-04-10,승차,539,653,"2,019","3,321","2,087","2,286","2,585",...,"3,226","4,388","9,071","5,319","3,658","3,398","2,191","1,114",174,1
19,서울역(150),2017-04-10,하차,393,"2,619","5,371","10,397","5,353","2,823","2,509",...,"2,413","2,862","2,990","2,699","1,701","1,588","1,231",653,226,12
20,서울역(150),2017-04-11,승차,455,598,"1,673","2,909","2,091","2,073","2,577",...,"3,376","4,771","9,156","5,225","3,510","3,405","2,191","1,124",214,0
21,서울역(150),2017-04-11,하차,286,"2,156","4,912","10,337","5,367","2,593","2,278",...,"2,299","2,961","3,269","2,516","1,786","1,626","1,382",711,258,7
22,서울역(150),2017-04-12,승차,443,573,"1,673","2,934","2,009","2,058","2,572",...,"3,234","5,253","9,641","4,949","3,063","3,358","2,123","1,082",182,0
23,서울역(150),2017-04-12,하차,297,"2,016","4,911","10,383","5,235","2,416","2,431",...,"2,555","2,912","3,478","2,413","1,850","1,640","1,441",755,283,30
24,서울역(150),2017-04-13,승차,459,566,"1,684","2,793","2,050","2,046","2,667",...,"3,319","4,961","9,049","5,200","3,417","3,712","2,350","1,224",192,0
25,서울역(150),2017-04-13,하차,332,"2,075","4,812","10,455","5,643","2,676","2,540",...,"2,631","2,977","3,433","2,506","1,713","1,759","1,429",787,316,18
26,서울역(150),2017-04-14,승차,411,531,"1,629","2,719","2,112","2,117","2,690",...,"4,677","5,938","10,049","5,639","3,570","3,755","3,255","1,450",269,0
27,서울역(150),2017-04-14,하차,308,"1,768","4,229","9,754","5,543","2,741","2,469",...,"3,217","3,709","4,696","3,769","2,200","2,134","1,625",976,400,40
28,서울역(150),2017-04-15,승차,496,473,751,"1,621","2,317","2,289","3,459",...,"4,329","5,529","4,123","3,046","2,860","2,956","2,341",979,54,0
29,서울역(150),2017-04-15,하차,306,"2,004","2,107","2,491","3,523","3,133","3,003",...,"3,892","4,055","3,410","2,793","2,160","2,026","1,848","1,059",318,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7110,남태령(434),2017-04-16,승차,10,10,35,88,107,100,103,...,137,182,183,42,16,18,21,0,1,0
7111,남태령(434),2017-04-16,하차,1,16,26,36,30,58,39,...,54,50,81,90,42,25,32,20,7,0
7112,남태령(434),2017-04-17,승차,18,40,340,487,217,78,77,...,236,176,223,79,35,10,19,3,0,0
7113,남태령(434),2017-04-17,하차,3,30,273,272,49,34,25,...,45,57,70,74,50,47,38,21,15,0
7114,남태령(434),2017-04-18,승차,19,48,320,475,212,107,81,...,280,183,290,93,38,14,17,11,0,0
7115,남태령(434),2017-04-18,하차,1,40,287,277,49,38,39,...,51,48,59,84,58,49,43,35,14,0
7116,남태령(434),2017-04-19,승차,17,52,319,480,226,128,80,...,89,232,331,116,37,24,13,7,0,0
7117,남태령(434),2017-04-19,하차,2,44,263,277,59,42,27,...,52,62,89,80,45,49,35,25,15,0
7118,남태령(434),2017-04-20,승차,21,39,280,464,221,120,106,...,266,175,352,89,61,22,13,10,1,0
7119,남태령(434),2017-04-20,하차,3,44,269,357,74,39,40,...,59,70,91,71,44,46,34,25,8,0
7120,남태령(434),2017-04-21,승차,15,42,266,488,212,107,126,...,266,236,469,155,69,46,35,10,4,0
7121,남태령(434),2017-04-21,하차,1,33,273,288,51,28,30,...,63,62,83,83,50,43,26,28,17,0
7122,남태령(434),2017-04-22,승차,20,25,61,410,569,174,528,...,588,438,394,299,25,40,15,3,0,0
7123,남태령(434),2017-04-22,하차,1,11,56,62,58,80,46,...,67,89,84,79,38,35,45,24,10,0
7124,남태령(434),2017-04-23,승차,7,21,39,81,119,82,93,...,163,80,136,57,34,17,11,4,0,0
7125,남태령(434),2017-04-23,하차,1,14,32,43,38,51,42,...,37,53,71,74,34,28,36,13,2,0
7126,남태령(434),2017-04-24,승차,19,72,344,422,246,96,76,...,255,156,282,92,46,20,14,7,0,0
7127,남태령(434),2017-04-24,하차,2,36,281,301,59,39,36,...,51,77,64,65,52,41,33,22,11,0
7128,남태령(434),2017-04-25,승차,17,52,291,467,231,107,79,...,273,185,307,92,35,37,15,4,3,0
7129,남태령(434),2017-04-25,하차,1,46,282,272,70,56,28,...,54,62,70,82,42,37,32,18,12,0
7130,남태령(434),2017-04-26,승차,17,51,276,479,237,171,225,...,92,208,372,129,41,22,12,8,1,0
7131,남태령(434),2017-04-26,하차,3,41,328,259,81,53,45,...,48,73,88,84,50,33,39,28,15,2
7132,남태령(434),2017-04-27,승차,17,50,314,508,254,157,225,...,117,219,364,144,61,34,17,6,0,0
7133,남태령(434),2017-04-27,하차,0,46,298,240,70,44,28,...,66,57,115,67,38,52,41,27,17,0
7134,남태령(434),2017-04-28,승차,20,54,295,495,276,142,255,...,98,220,484,495,86,27,32,12,1,0
7135,남태령(434),2017-04-28,하차,2,36,281,274,57,49,43,...,66,50,76,80,51,63,34,20,11,1
7136,남태령(434),2017-04-29,승차,14,31,59,166,147,228,669,...,179,270,407,117,37,40,18,4,1,0
7137,남태령(434),2017-04-29,하차,0,25,40,47,77,123,64,...,56,83,83,77,36,38,20,22,7,0
7138,남태령(434),2017-04-30,승차,14,20,39,69,89,105,77,...,98,110,105,40,29,33,9,6,0,0
7139,남태령(434),2017-04-30,하차,1,23,20,28,32,47,47,...,37,58,76,105,26,35,11,18,10,0

In [19]:
sdf = df[(df['구분'] == '승차')]

In [20]:
sdf

,역명,날짜,구분,05~06시,06~07시,07~08시,08~09시,09~10시,10~11시,11~12시,...,16~17시,17~18시,18~19시,19~20시,20~21시,21~22시,22~23시,23~24시,00~01시,01~02시
0,서울역(150),2017-04-01,승차,493,513,654,"1,517","2,104","2,522","3,440",...,"4,835","5,653","4,178","3,189","2,640","2,947","2,441",927,43,0
2,서울역(150),2017-04-02,승차,342,340,413,944,"1,533","1,734","2,553",...,"3,525","3,668","3,154","2,879","2,572","3,038","2,665",965,86,0
4,서울역(150),2017-04-03,승차,467,603,"2,137","3,296","2,121","2,094","2,626",...,"3,225","4,466","8,952","5,342","3,376","3,402","2,235","1,174",148,0
6,서울역(150),2017-04-04,승차,443,573,"1,611","2,916","2,048","2,100","2,516",...,"3,163","4,702","8,955","5,217","3,529","3,499","2,169","1,166",150,0
8,서울역(150),2017-04-05,승차,415,572,"1,685","2,953","2,072","2,090","2,394",...,"3,385","4,991","9,684","5,019","3,399","3,595","2,073","1,322",284,0
10,서울역(150),2017-04-06,승차,378,545,"1,595","2,965","2,034","2,088","2,538",...,"3,607","4,797","9,027","5,178","3,294","3,713","2,262","1,189",242,1
12,서울역(150),2017-04-07,승차,475,580,"1,633","2,772","2,422","2,030","2,852",...,"4,131","5,827","9,828","5,810","3,730","4,050","3,317","1,454",381,0
14,서울역(150),2017-04-08,승차,480,532,717,"1,637","2,417","2,422","3,591",...,"5,100","5,330","4,460","3,106","2,906","2,958","2,573","1,074",51,0
16,서울역(150),2017-04-09,승차,335,352,449,997,"1,573","1,939","2,508",...,"3,363","3,673","3,030","2,703","2,554","2,612","2,143",516,72,0
18,서울역(150),2017-04-10,승차,539,653,"2,019","3,321","2,087","2,286","2,585",...,"3,226","4,388","9,071","5,319","3,658","3,398","2,191","1,114",174,1
20,서울역(150),2017-04-11,승차,455,598,"1,673","2,909","2,091","2,073","2,577",...,"3,376","4,771","9,156","5,225","3,510","3,405","2,191","1,124",214,0
22,서울역(150),2017-04-12,승차,443,573,"1,673","2,934","2,009","2,058","2,572",...,"3,234","5,253","9,641","4,949","3,063","3,358","2,123","1,082",182,0
24,서울역(150),2017-04-13,승차,459,566,"1,684","2,793","2,050","2,046","2,667",...,"3,319","4,961","9,049","5,200","3,417","3,712","2,350","1,224",192,0
26,서울역(150),2017-04-14,승차,411,531,"1,629","2,719","2,112","2,117","2,690",...,"4,677","5,938","10,049","5,639","3,570","3,755","3,255","1,450",269,0
28,서울역(150),2017-04-15,승차,496,473,751,"1,621","2,317","2,289","3,459",...,"4,329","5,529","4,123","3,046","2,860","2,956","2,341",979,54,0
30,서울역(150),2017-04-16,승차,344,393,490,916,"1,455","1,910","2,346",...,"3,645","3,723","3,083","2,734","2,485","3,071","2,268",751,54,0
32,서울역(150),2017-04-17,승차,431,654,"2,044","3,047","2,088","2,110","2,659",...,"3,079","4,643","9,017","4,962","3,070","2,922","1,983",946,150,0
34,서울역(150),2017-04-18,승차,446,572,"1,681","2,858","2,097","2,116","2,484",...,"3,228","4,524","9,195","5,156","3,154","3,286","2,066","1,025",132,0
36,서울역(150),2017-04-19,승차,447,532,"1,657","2,751","2,030","2,049","2,562",...,"3,319","5,176","9,418","4,963","3,095","3,333","2,182",977,154,0
38,서울역(150),2017-04-20,승차,444,549,"1,647","2,685","1,971","2,121","2,601",...,"3,390","4,616","9,026","5,254","3,444","3,466","2,153","1,144",198,0
40,서울역(150),2017-04-21,승차,443,589,"1,546","2,660","2,130","2,152","2,637",...,"4,130","5,615","9,878","5,643","3,704","3,842","3,216","1,520",252,2
42,서울역(150),2017-04-22,승차,439,515,714,"1,597","2,130","2,530","3,349",...,"4,984","4,281","3,466","2,975","2,674","2,723","2,198",927,47,0
44,서울역(150),2017-04-23,승차,355,321,484,"1,002","1,446","1,996","2,521",...,"3,005","3,551","2,910","2,767","2,379","2,602","1,967",481,29,0
46,서울역(150),2017-04-24,승차,515,607,"1,963","3,030","2,020","2,031","2,549",...,"3,116","4,429","8,979","5,199","3,278","3,245","1,992",952,139,0
48,서울역(150),2017-04-25,승차,420,541,"1,661","2,722","1,914","1,957","2,411",...,"3,118","4,345","8,911","5,067","3,117","3,017","2,044",913,121,0
50,서울역(150),2017-04-26,승차,428,565,"1,614","2,802","1,914","1,928","2,453",...,"3,315","4,792","9,180","4,947","3,062","3,089","2,020",940,146,0
52,서울역(150),2017-04-27,승차,443,564,"1,627","2,866","1,949","1,966","2,523",...,"3,313","4,640","8,635","5,328","3,322","3,477","2,385","1,112",171,0
54,서울역(150),2017-04-28,승차,448,577,"1,608","2,590","2,110","1,984","2,612",...,"4,267","5,416","9,492","6,021","4,011","3,681","3,254","1,382",327,0
56,서울역(150),2017-04-29,승차,517,575,647,"1,625","2,293","2,446","3,416",...,"3,927","3,786","3,795","3,008","2,511","2,841","2,155",888,33,0
58,서울역(150),2017-04-30,승차,341,395,523,973,"1,461","1,930","2,607",...,"3,298","3,216","3,061","2,613","2,523","2,820","1,988",733,24,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7080,남태령(434),2017-04-01,승차,14,14,46,164,169,215,694,...,583,627,505,265,38,31,11,9,1,0
7082,남태령(434),2017-04-02,승차,10,16,31,70,111,99,123,...,177,144,155,79,23,14,9,3,0,0
7084,남태령(434),2017-04-03,승차,18,53,307,480,233,107,71,...,249,141,240,97,33,30,17,4,0,0
7086,남태령(434),2017-04-04,승차,17,52,279,433,219,114,69,...,214,215,276,101,41,24,26,5,0,0
7088,남태령(434),2017-04-05,승차,12,33,273,446,263,128,97,...,113,206,442,128,62,45,14,8,3,0
7090,남태령(434),2017-04-06,승차,15,42,248,427,219,93,65,...,236,258,420,105,47,21,12,5,2,0
7092,남태령(434),2017-04-07,승차,14,40,259,446,198,105,91,...,253,222,398,250,81,48,33,7,1,0
7094,남태령(434),2017-04-08,승차,22,30,45,194,152,282,438,...,428,545,349,365,78,12,11,2,0,0
7096,남태령(434),2017-04-09,승차,9,16,29,79,91,90,101,...,156,96,110,36,17,12,7,2,0,0
7098,남태령(434),2017-04-10,승차,25,69,294,495,224,96,73,...,236,193,301,115,41,27,22,8,4,0
7100,남태령(434),2017-04-11,승차,18,55,305,464,256,114,77,...,273,233,394,156,46,40,24,10,0,0
7102,남태령(434),2017-04-12,승차,19,43,308,412,225,127,65,...,86,229,381,163,57,37,12,11,0,0
7104,남태령(434),2017-04-13,승차,15,44,283,442,267,95,58,...,248,188,386,138,51,40,23,15,2,0
7106,남태령(434),2017-04-14,승차,21,34,271,437,205,96,107,...,337,218,496,331,57,61,27,7,2,0
7108,남태령(434),2017-04-15,승차,21,22,39,187,151,135,400,...,391,478,534,245,31,29,11,4,1,0
7110,남태령(434),2017-04-16,승차,10,10,35,88,107,100,103,...,137,182,183,42,16,18,21,0,1,0
7112,남태령(434),2017-04-17,승차,18,40,340,487,217,78,77,...,236,176,223,79,35,10,19,3,0,0
7114,남태령(434),2017-04-18,승차,19,48,320,475,212,107,81,...,280,183,290,93,38,14,17,11,0,0
7116,남태령(434),2017-04-19,승차,17,52,319,480,226,128,80,...,89,232,331,116,37,24,13,7,0,0
7118,남태령(434),2017-04-20,승차,21,39,280,464,221,120,106,...,266,175,352,89,61,22,13,10,1,0
7120,남태령(434),2017-04-21,승차,15,42,266,488,212,107,126,...,266,236,469,155,69,46,35,10,4,0
7122,남태령(434),2017-04-22,승차,20,25,61,410,569,174,528,...,588,438,394,299,25,40,15,3,0,0
7124,남태령(434),2017-04-23,승차,7,21,39,81,119,82,93,...,163,80,136,57,34,17,11,4,0,0
7126,남태령(434),2017-04-24,승차,19,72,344,422,246,96,76,...,255,156,282,92,46,20,14,7,0,0
7128,남태령(434),2017-04-25,승차,17,52,291,467,231,107,79,...,273,185,307,92,35,37,15,4,3,0
7130,남태령(434),2017-04-26,승차,17,51,276,479,237,171,225,...,92,208,372,129,41,22,12,8,1,0
7132,남태령(434),2017-04-27,승차,17,50,314,508,254,157,225,...,117,219,364,144,61,34,17,6,0,0
7134,남태령(434),2017-04-28,승차,20,54,295,495,276,142,255,...,98,220,484,495,86,27,32,12,1,0
7136,남태령(434),2017-04-29,승차,14,31,59,166,147,228,669,...,179,270,407,117,37,40,18,4,1,0
7138,남태령(434),2017-04-30,승차,14,20,39,69,89,105,77,...,98,110,105,40,29,33,9,6,0,0

In [21]:
hsf = df[(df['구분'] == '하차')]

In [22]:
sdf.count()

역명        3570
날짜        3570
구분        3570
05~06시    3570
06~07시    3570
07~08시    3570
08~09시    3570
09~10시    3570
10~11시    3570
11~12시    3570
12~13시    3570
13~14시    3570
14~15시    3570
15~16시    3570
16~17시    3570
17~18시    3570
18~19시    3570
19~20시    3570
20~21시    3570
21~22시    3570
22~23시    3570
23~24시    3570
00~01시    3570
01~02시    3570
dtype: int64

In [23]:
sdf.max()

역명           회현(425)
날짜        2017-04-30
구분                승차
05~06시           997
06~07시           997
07~08시           998
08~09시           999
09~10시           999
10~11시           999
11~12시           999
12~13시           999
13~14시           999
14~15시           999
15~16시           997
16~17시           999
17~18시           999
18~19시           996
19~20시           999
20~21시           998
21~22시           998
22~23시           998
23~24시           997
00~01시            99
01~02시             9
dtype: object

In [28]:
sdf.argmax('06~07시')

AttributeError: 'DataFrame' object has no attribute 'argmax'